.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

img {
  width: 100%;
  height: auto;
}

row {
    display: flex;
  justify-content: space-between;
}

.col {
    width: 30%;
}

#logo {
    max-width: 652px;
    margin-left: 33%;
}